@import url('https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

@import 'normalize.css';

.detailsBody {
    background-color: #000;
    font-family: 'Karma', serif;
    color: white;
}

.container {
    float: left;
    position: relative;
    margin: 2.5%;
    width: 65%;
    height: 0;
    padding-bottom: 37.025%;
}

.video {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

/*.moviesTrailer { OLD MOVIESTRAILER CLASSNAME (USE IF NOT WORK ABOVE)
    float: left;
    display: inline;
    width: 65%;
    margin: 2.5%;
    object-fit: cover;
}*/

.moviesPoster {
    float: right;
    display: block;
    object-fit: cover;
    margin: 2.5%;
    width: 25%;
}

.moviesContainer {
    display: inline-block;
    margin-left: 15%;
    width: 42.5%;
    margin-bottom: 1.5%;
    margin-right: 15%;
}

.moviesTitle {
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 0%;
    margin-bottom: 2.5%;
}

.moviesDescription {
    margin-bottom: 2.5%;
}

.moviesInfo {
    margin-bottom: 0.5%;
}

.moviesInfoTitle {
    height: 15%;
    color: #a19fa1;
    line-height: 200%;
    font-size: 15px;
    font-family: 'noto sans';
}

.moviesInfoDesc {
    line-height: 200%;
    font-size: 15px;
    font-family: 'karma';
}

.moviesBuyTicket {
    position: absolute;
    white-space: nowrap;
    border-radius: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    background: linear-gradient(90deg, #411540 20%, #8949e3 100%);
    color: white;
    border: 0;
    padding: 1%;
    width: 15vw;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
}

.moviesBuyTicket span {
    background-color: transparent;
}


.moviesBuyTicket:hover {
    transform: scale(1.1);
}

.moviesDescription p {
    margin: 0%;
}

@media screen and (min-width: 577px) and (max-width: 1199px) {

    .container {
        float: left;
        position: relative;
        margin: 2.5%;
        width: 95%;
        height: auto;
        padding-bottom: 37.025%;
    }

    .moviesContainer {
        display: inline-block;
        margin-left: 5%;
        width: 60%;
        margin-bottom: 1.5%;
        margin-right: 1%;
    }

    .moviesPoster {
        display: inline-block;
        object-fit: cover;
        margin: 2.5%;
        margin-right: 5%;
        width: 25%;
    }

    .moviesTitle {
        font-family: 'Noto Sans JP', sans-serif;
        margin-left: 0%;
        margin-bottom: 2.5%;
    }

    .moviesDescription {
        margin-bottom: 2.5%;
        text-align: left;
    }

    .moviesInfo {
        margin-bottom: 0.5%;
    }

    .moviesBuyTicket {
        position: absolute;
        white-space: nowrap;
        border-radius: 10px;
        margin-top: 41vw;
        margin-left: 9.5vw;
        margin-right: 1vw;
        background: linear-gradient(90deg, #411540 20%, #8949e3 100%);
        color: white;
        border: 0;
        padding: 1%;
        width: 15vw;
        font-size: 2vw;
        text-align: center;
        cursor: pointer;
    }

    .moviesDescription p {
        margin: 0%;
    }

}

@media screen and (max-width: 576px) {
    .container {
        float: left;
        position: relative;
        margin: 2.5%;
        width: 95%;
        height: auto;
        padding-bottom: 37.025%;
    }

    .moviesContainer {
        position: relative;
        display: inline-block;
        margin-left: 4%;
        width: 92%;
        margin-bottom: 1.5%;
        margin-right: 1%;
        z-index: 1;
    }

    .moviesTitle {
        font-family: 'Noto Sans JP', sans-serif;
        margin-left: 0%;
        margin-bottom: 2.5%;
    }

    .moviesDescription {
        margin-bottom: 2.5%;
        text-align: left;
        font-size: 80%;
    }

    .moviesDescription p {
        margin: 0%;
    }

    .moviesPoster {
        display: none;
        object-fit: cover;
        margin: 2.5%;
        margin-right: 5%;
        width: 25%;
    }

    .moviesBuyTicket {
        position: relative;
        white-space: nowrap;
        border-radius: 10px;
        margin-top: 0vw;
        margin-left: 80vw;
        margin-right: 10vw;
        background: linear-gradient(90deg, #411540 20%, #8949e3 100%);
        color: white;
        border: 0;
        padding: 1%;
        width: 15vw;
        font-size: 2vw;
        text-align: center;
        cursor: pointer;
        z-index: 2;
    }
}