/* change to your own choice of fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&family=Noto+Sans:wght@500&display=swap');

@import 'normalize.css';

* {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: #000;
  font-size: 100%;
}

p {
  font: 'Karma'
}

div {
  font-family: 'Arima';
  font-size: 20px;
}

.movie {
  display: inline-block;
  width: 19%;
  height: auto;
  padding: 10px 0px;
  border: 1px solid #000;
  margin-bottom: 20px;
  margin-right: 1%;
  border-radius: 10px;
  text-align: center;
}

.moviePreview {
  margin-bottom: 20px;
  border-radius: 10px;
  max-width: auto;
  height: auto;
}

.moviePreview img {
  max-width: 100%;
  height: auto;
}

.movieTitle {
  text-align: center;
  font-size: 1.1em;
}

.movieBox {
  padding: 2% 1%;
  border: 1px solid #000;
  margin-bottom: 20px;
  border-radius: 10px;


}

header {
  background-color: #000;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}