main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgb(233, 233, 233);
  /*background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #f1f1f1 95%, rgba(235, 236, 237, 0.1) 100%);*/
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
}

footer img {
  float: right;
  margin-right: .2%;
  display: inline;
  max-width: 35px;
  margin-bottom: .2%;
  background-color: transparent;
}

footer img:first-of-type {
  float: right;
  margin-right: 20%;
  display: inline;
  width: 45px;
}

footer h4 {
  margin: 0.5% 0.5% .3% 0px;
  padding-left: 20%;
  color: #000;
  background-color: transparent;
}

footer p {
  display: inline;
  margin: 0px 3px 3px 0px;
  padding-left: 1%;
  background-color: transparent;
  color: rgb(32, 32, 32);
  font-size: 0.8em;
}

footer p:first-of-type {
  display: inline;
  margin: 0px 3px 3px 0px;
  padding-left: 20%;
}

.wrapperFooter {
  background: rgb(233, 233, 233);
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.imagesFooter {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 10%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  footer {
    display: inline-block;
    width: 112%;
    background: rgb(233, 233, 233);
    /*background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #f1f1f1 95%, rgba(235, 236, 237, 0.1) 100%);*/
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
  }

  footer img:first-of-type {
    float: right;
    margin-right: 15%;
    display: inline;
    width: 45px;
  }

  footer p:first-of-type {
    display: inline;
    margin: 0px 3px 3px 0px;
    padding-left: 10%;
  }

  footer h4 {
    margin: 0.5% 0.5% .3% 0px;
    padding-left: 10%;
    color: #000;
    background-color: transparent;
    font-size: 90%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {



  footer p:first-of-type {
    display: inline;
    margin: 0px 3px 3px 0px;
    padding-left: 5%;
  }

  .wrapperFooter h4 {
    padding-left: 5%;
  }

  .imagesFooter {
    right: -20%;
  }
}

@media screen and (max-width: 576px) {
  footer {
    display: inline-block;
    width: 100%;
    background: rgb(233, 233, 233);
    /*background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #f1f1f1 95%, rgba(235, 236, 237, 0.1) 100%);*/
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .wrapperFooter {
    background: rgb(233, 233, 233);
    position: relative;
    width: 75%;
    margin-left: 10%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  footer h4 {
    margin: 5px 0.5% .5% 0px;
    padding-left: 0%;
    font-size: 15px;
    color: #000;
    background-color: transparent;
  }

  footer p {
    display: block;
    margin: 0px 3px 3px 0px;
    padding-left: 0%;
    background-color: transparent;
    color: rgb(32, 32, 32);
    font-size: 0.7em;
  }

  footer p:first-of-type {
    display: inline;
    margin: 0px 3px 0px 0px;
    padding-left: 0%;
  }


  footer img:first-of-type {
    float: right;
    margin-right: 0%;
    display: inline;
    width: 45px;
  }

  footer img {
    float: right;
    margin-right: 1%;
    display: inline;
    max-width: 35px;
    margin-bottom: .2%;
    background-color: transparent;
  }

  .imagesFooter {
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: -15%;
    margin: 0;
    padding: 0;
  }
}