/* change to your own choice of fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&family=Noto+Sans:wght@500&display=swap');

@import 'normalize.css';

body {
  color: rgb(255, 255, 255);
  background-color: #000;
  font-size: 100%;
}

/* border-box include paddings and borders in widths */
* {
  box-sizing: border-box;
}

/* sticky footer fix */
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

/* end of sticky footer fix */


.root {

  display: flex;
  height: 100%;
  min-height: 100vh;

  flex-direction: column;

}

p {
  font-family: 'Karma';
  margin-bottom: 2%;
  font-size: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Noto Sans'
}

div {
  font-family: 'Arima';
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  .movie {
    display: inline-block;
    width: 19%;
    height: auto;
    padding: 10px 0px;
    border: 1px solid #000;
    margin-bottom: 20px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
  }

  .movieTitle {
    margin-bottom: 3%;
    margin-top: 0%;
  }
}

@media screen and (min-width: 577px) and (max-width: 1199px) {
  .movie {
    display: inline-block;
    width: 49%;
    height: auto;
    padding: 10px 0px;
    border: 1px solid #000;
    margin-bottom: 20px;
    margin-right: 1%;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
  }
}

@media screen and (max-width: 576px) {
  .movie {
    display: inline-block;
    width: 49%;
    border: 1px solid #000;
    margin-right: 1%;
    border-radius: 10px;
    text-align: center;
  }
}


.moviePreview {
  border-radius: 10px;
  max-width: auto;
  height: auto;
}

.moviePreview img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.movieTitle {
  position: relative;
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 3%;
  margin-top: 0%;
}

.movieBox {
  padding: 2% 1%;
  border: 1px solid #000;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  text-align: end;

}

header {
  background-color: #000;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-bottom: 0px;
}

.movieTitle {
  min-height: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie {
  display: block;
  float: left;
  margin-bottom: 10px;
  bottom: 0;
}