@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap');

@import 'normalize.css';

div .bilder-butik {
  text-align: left;
  margin-top: 2%;
  margin-left: 25.5%;
}

.bilder-butik img {
  display: inline-block;
  width: 70px;
}

.h2butik {
  margin-left: 15%;
  font-size: 1.3em;
}

.textbutik p {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1%;
  width: 70%;
}

.textbutik {
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (min-width: 769px) and (max-width: 1199px) {

  .textbutik p {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    width: 85%;
    font-size: 18px;
  }

  .h2butik {
    margin-left: -2%;
    font-size: 1.1em;
  }

  div .bilder-butik {
    text-align: left;
    margin-top: 100px;
    margin-left: 16%;
  }

}

@media screen and (min-width: 577px) and (max-width: 768px) {

  .h2butik {
    margin-left: -2%;
  }

  .textbutik p {
    margin-left: 0%;
    font-size: 18px;
  }

  div .bilder-butik {
    text-align: left;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 576px) {

  .textbutik {
    margin-left: 4%;
  }

  .textbutik p {
    margin-left: 0%;
    width: 85%;
    font-size: 18px;
    margin-bottom: 2%;
  }

  .textbutik h2 {
    margin-left: -0%;
  }

  div .bilder-butik {
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 8%;
  }
}