@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap');

@import 'normalize.css';

body {
  margin: 0;
  padding: 0;
  background-color: rgb(39, 5, 40);

}

.main {
  background: rgb(39, 5, 40);

}

img {
  width: 100%;
  height: 30%;
  object-fit: cover;
  margin-top: 2rem;
}

.butik {
  margin: 100px 200px;
  margin-top: 50px;
  background: rgb(39, 5, 40);
}


.title {
  font-size: 36px;
  margin-top: 50px;
}


.description {
  margin-top: 12px;
  font-size: 18px;
  color: rgb(251, 249, 249);
  max-width: 1800px;
  margin-left: 10px;
  margin-right: 10px;
}


.section-title {
  font-size: 36px;
  margin-top: 48px;
  background-color: rgb(39, 5, 40);
}


.carousel-container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: rgb(39, 5, 40);
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10 10px;
  background-color: rgb(39, 5, 40);
  box-shadow: 0 0 5px rgb(39, 5, 40);
  border-radius: 15px;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
}

.carousel-item h3 {
  font-size: 18px;
  text-decoration-color: #f9f9f9;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 24px;
  color: rgb(166, 154, 154);
  content: '\f060';
  /* Content code for the left arrow */
  background-color: rgb(39, 5, 40);
}

.slick-next:before {
  content: '\f061';
  background-color: rgb(39, 5, 40);
  /* Content code for the right arrow */
}

@media screen and (min-width: 769px) and (max-width: 1199px) {

  .textbutik p {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    width: 85%;
    font-size: 18px;
  }

  .h2butik {
    margin-left: -2%;
    font-size: 1.1em;
  }

  div .bilder-butik {
    text-align: left;
    margin-top: 100px;
    margin-left: 16%;
  }

}

@media screen and (min-width: 577px) and (max-width: 768px) {

  .h2butik {
    margin-left: -2%;
  }

  .textbutik p {
    margin-left: 0%;
    font-size: 18px;
  }

  div .bilder-butik {
    text-align: left;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 576px) {

  .textbutik {
    margin-left: 4%;
  }

  .textbutik p {
    margin-left: 0%;
    width: 85%;
    font-size: 18px;
    margin-bottom: 2%;
  }

  .textbutik h2 {
    margin-left: -0%;
  }

  div .bilder-butik {
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 8%;
  }
}