.section_padding {
  padding: 4rem 4rem;
}

.footer {
  background-image: linear-gradient(90deg, #411540 20%, #8949e3 100%);
}

.sb_footer {
  display: flex;
  flex-direction: column;
}

.sb_footer-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.sb_footer-links_div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

.sb_footer-links_div .footer-adress {
  margin-bottom: 0;
  cursor: auto;
}

.sb_footer-links_div .footer-adress-postcode {
  margin-top: 0;
  cursor: auto;
}

a {
  color: rgb(253, 255, 240);
  text-decoration: none;
}

.socialmedia {
  margin-top: 0%;
  display: flex;
}

.sb_footer-links_div .socialmedia p {
  cursor: auto;
}

.sb_footer-links_div .socialmedia p {
  margin-right: 2%;
}

.socialmedia img {
  width: 40px;
  height: 40px;
  margin-right: 10%;
  margin-top: 0;
  padding-left: 1%;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  cursor: auto;
}

.sb_footer-links_div h4 {
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sb_footer-links_div p {
  font-size: 14px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.sb_footer-links_div p.footer-text {
  cursor: auto;
}

.sb_footer-below {
  border-top: 2px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;

}

.sb_footer-below-links {
  display: flex;
  flex-direction: row;
}

.sb_footer-below-links p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  margin-top: 50px;
  color: white;
  font-weight: 600;
}

hr {

  color: rgb(248, 242, 242) !important;
  width: 100%;
}

.sb_footer-copyright {
  width: 100%;
}

.sb_footer-copyright p {

  font-size: 14px;
  line-height: 20px;
  color: rgb(226, 239, 251);
  font-weight: 00;
  align-items: center;
  margin: 0;
  padding: 0;
}


@media screen and (min-width: 769px) and (max-width: 1199px) {
  .sb_footer-links_div h4 {
    margin-bottom: 0.3rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .sb_footer.section_padding {
    padding: 1rem 2rem;
  }

  .sb_footer-links_div h4 {
    margin-bottom: 0.3rem;
  }

  .sb_footer-links {
    flex-wrap: nowrap;
  }

  .socialmedia {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .socialmedia p {
    margin-bottom: 0;
  }

  .sb_footer-below {
    margin-top: 2%;
  }

}

@media screen and (max-width: 576px) {
  .sb_footer.section_padding {
    padding: 0rem 0rem;
  }

  .socialmedia {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .sb_footer-below {
    margin-top: -5%;
  }

  .sb_footer-links_div h4 {
    margin-bottom: 0.3rem;
  }
}